@model ATM.DataAccess.Models.UserActionResult

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ActionResult</h4>
    <hr />
    <div class="row justify-content-md-center">
        <div class="col-lg-4 margin-top-20">
            <b>@Html.DisplayNameFor(model => model.CreditCardId)</b>
        </div>
        <div class="col-lg-4 margin-top-20">
            @Html.DisplayFor(model => model.CreditCardId)
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-lg-4 margin-top-20">
            <b>@Html.DisplayNameFor(model => model.OperationCode)</b>
        </div>
        <div class="col-lg-4 margin-top-20">
            @Html.DisplayFor(model => model.OperationCode)
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-lg-4 margin-top-20">
            <b>@Html.DisplayNameFor(model => model.TimeStamp)</b>
        </div>
        <div class="col-lg-4 margin-top-20">
            @Html.DisplayFor(model => model.TimeStamp)
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-lg-4 margin-top-20">
            <b>@Html.DisplayNameFor(model => model.WithdrawalAmount)</b>
        </div>
        <div class="col-lg-4 margin-top-20">
            @Html.DisplayFor(model => model.WithdrawalAmount)
        </div>
    </div>
</div>
<div class="margin-top-20">
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
