@model ATM.DataAccess.Models.CreditCard

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CreditCard</h4>
    <hr />
    <div class="row justify-content-md-center">
        <div class="col-lg-4 margin-top-20">
            <b>
                @Html.DisplayNameFor(model => model.Number)
            </b>
        </div>
        <div class="col-lg-4 margin-top-20">
            @Html.DisplayFor(model => model.Number)
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-lg-4 margin-top-20">
            <b>
                @Html.DisplayNameFor(model => model.Pin)
            </b>
        </div>
        <div class="col-lg-4 margin-top-20">
            @Html.DisplayFor(model => model.Pin)
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-lg-4 margin-top-20">
            <b>
                @Html.DisplayNameFor(model => model.Balance)
            </b>
        </div>
        <div class="col-lg-4 margin-top-20">
            @Html.DisplayFor(model => model.Balance)
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-lg-4 margin-top-20">
            <b>
                @Html.DisplayNameFor(model => model.IsValid)
            </b>
        </div>
        <div class="col-lg-4 margin-top-20">
            @Html.DisplayFor(model => model.IsValid)
        </div>
    </div>
</div>
<div class="margin-top-20">
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
